doctype html
html
	head
		title Wikimedia Recreation
		link(href="css/style.css" rel="stylesheet")
	body
		main
			p <strong>Wikimedia</strong> is a global&nbsp;
				a(href="http://meta.wikimedia.org/wiki/Wikimedia_movement") movement
				|  whose
				a(href="http://wikimediafoundation.org/wiki/Mission_statement")  mission
				|  is to bring free educational content to the world.

			p Through various 
				a(href="http://wikimediafoundation.org/wiki/Our_projects") projects,
				|  
				a(href="http://meta.wikimedia.org/wiki/Wikimedia_chapters") chapters,
				|  and the support structure of the non-profit Wikimedia Foundation, Wikimedia 
				a(href="http://wikimediafoundation.org/wiki/Vision") strives
				|  to bring about a world in which every single human being can freely share in the sum of all knowledge.
			
			header 
				p Welcome to Wikimedia.
			.img

				a(href="https://www.wikipedia.org/")
					image(src="http://upload.wikimedia.org/wikipedia/en/b/bc/Wiki.png" width="135" height="155")
				a(href="https://www.wiktionary.org/")
					image(src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/135px-Wiktionary-logo-en.svg.png" width: "135")
				a(href="https://www.wikiquote.org/")
					image(src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Wikiquote-logo-en.png/120px-Wikiquote-logo-en.png" width="120" height="120")
				a(href="https://www.wikibooks.org/")
					image(src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikibooks-logo-en-noslogan.svg/140px-Wikibooks-logo-en-noslogan.svg.png" width="140" height="140")
			.img
				a(href="https://wikisource.org/")
					image(src="http://upload.wikimedia.org/wikipedia/sources/b/bc/Wiki.png" width="123" height="154")
				a(href="https://www.wikinews.org/")
					image(src="http://upload.wikimedia.org/wikinews/en/b/bc/Wiki.png" width="135" height="104")
				a(href="https://www.wikiversity.org/")
					image(src="http://upload.wikimedia.org/wikiversity/en/b/bc/Wiki.png" width="135" height="119")
				a(href="https://species.wikimedia.org/")
					image(src="http://upload.wikimedia.org/wikipedia/species/b/bc/Wiki.png" widht="125" height="177")
			.img
				a(href="https://www.mediawiki.org/")
					image(src="http://upload.wikimedia.org/wikipedia/commons/6/64/MediaWiki_logo_without_tagline.png" width="135" height="135")
				a(href="https://www.wikidata.org/")
					image(src="http://upload.wikimedia.org/wikipedia/commons/e/e4/Wikidata-logo-en-135px.png" width="156" height="110")
				a(href="https://commons.wikimedia.org/")
					image(src="http://upload.wikimedia.org/wikipedia/commons/7/79/Wiki-commons.png" width="135" height="155")
				a(href="https://www.wikivoyage.org/")
					image(src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Wikivoyage-Logo-v3-en.svg/135px-Wikivoyage-Logo-v3-en.svg.png" widht="135" height="135")
			.img
				a(href="https://meta.wikimedia.org/")
					image(src="http://upload.wikimedia.org/wikipedia/meta/b/bc/Wiki.png" width="135" height="135")
				a(href="https://incubator.wikimedia.org/")
					image(src="http://upload.wikimedia.org/wikipedia/incubator/b/bc/Wiki.png" width="135" height="135")
				a(href="https://wikitech.wikimedia.org/")
					image(src="http://wikitech.wikimedia.org/w/images/c/cf/Labslogo_thumb.png" width="122" height="138")
				a(href="https://wikimediafoundation.org/")
					image(src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Wikimedia_Foundation_RGB_logo_with_text.svg/135px-Wikimedia_Foundation_RGB_logo_with_text.svg.png" width="135" height="135")
			.footerLine
			footer Imagine a world in which every single human being can freely share in the sum of all knowledge. That's our commitment.
				.links
					p 
						a(href="https://wikimediafoundation.org/wiki/Terms_of_Use") Terms of use
					p 
						a(href="https://wikimediafoundation.org/wiki/Privacy_policy") Privacy policy